# Introduction to Python for Social Science
- UMN LATIS workshop, Oct 16, 2020
- Michael Beckstrand (mjbeckst@umn.edu) and Cody Hennesy (chennesy@umn.edu)

* Use Python 3 in a JupyterLab computing environment
* Use Python to grab data from a large number of files quickly
* Load a comma-delimited spreadsheet (.csv) into Pandas as a dataframe
* View and clean that data
* Save cleaned data file in formats for later use

### Jupyter lab environment
- How to navigate the directory of folders
- How to create a cell
- How to run a cell

### Variables
- To "run" a Jupyter cell hold down shift and select Return/Enter, or choose the "play icon" (right-facing triangle) from the Jupyter menu above. 

In Python, variable names:

* can include letters, digits, and underscores
* cannot start with a digit
* are case sensitive.

You can do calculations and save text strings in variables too.

In [27]:
weight_1 = 140
print(weight_1)

140

In [28]:
weight_2 = 60
print(weight_1 + weight_2)

200

In [29]:
sentence = "This is a string of text."
print(sentence)

This is a string of text.

### Types
Everything in Python is some type of object. Objects contain attributes, usually data and related functions,
called methods.

In [30]:
print(type(weight_1))
print(type(sentence))
print(type(140.0))
print(type(print))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'builtin_function_or_method'>

### Lists

The most popular kind of data collection in Python is the list, which takes the place of arrays in programming languages like C and Fortran.
Lists have two primary important characteristics:
1. They are mutable, i.e., they can be changed after they are created.
2. They are heterogeneous, i.e., they can store values of many different types.

To create a new list, you can just put some values in square brackets with commas in between.

In [31]:
my_list = ['winter', 'sprung', 'summer', 'fall'] # this list has a typo
print(my_list)

['winter', 'sprung', 'summer', 'fall']

Note that we used a # symbol to leave a comment in the code above. Anything that follows the # symbol on the same line will be "commented out" of the code, so Python will not try to interpret it. The # symbol can be used to create a comment at the beginning of a new line too.

In [32]:
# let's check the type of the list we just created
type(my_list)

list

To fetch the element at a specific location, put the *index* of that location in square brackets. But keep in mind that Python lists start the index from 0. So the list above has three index values: ```my_list[0] my_list[1] my_list[2]```

In [33]:
print(my_list[1])

sprung

In [34]:
my_list[1] = 'spring'
print(my_list[1])

spring

Lists can contain different types of Python objects, and you can even create lists of lists.

In [35]:
mixed_list = ['word', 3, 10.2, ['list', 'of', 'items']]
print(mixed_list[3])
print(type(mixed_list[3]))

['list', 'of', 'items']
<class 'list'>

Using similar syntax as a list index, you can look at slices of parts of a list:

In [36]:
mixed_list[1:3]

[3, 10.2]

In [37]:
mixed_list[2:]

[10.2, ['list', 'of', 'items']]

In [38]:
mixed_list[:2]

['word', 3]

Sometime you'll want to create an empty list (which you can fill later). You can do so, by declaring a list variable with empty square brackets.

In [39]:
future_list = []

Now let's create a list of four numbers and assign it to the variable 'a'.

In [40]:
a = [1, 2, 3, 4]

Create another variable 'b' that references the variable you created in the previous step.

In [41]:
b = a

Now change the first item in the list that 'b' references.

In [42]:
b[0] = 7

Look at a and b. Are they the same or did the change you made to 'b' in the previous step also change 'a'?

In [43]:
a

[7, 2, 3, 4]

In [44]:
b

[7, 2, 3, 4]

In [45]:
b = a.copy()

In [46]:
b[0] = 1

In [47]:
a

[7, 2, 3, 4]

In [48]:
b

[1, 2, 3, 4]

## Importing Libraries (aka packages)
Importing a library is like getting a piece of lab equipment out of a storage locker and setting it up on the bench. Libraries provide additional functionality to the basic Python package, much like a new piece of equipment adds functionality to a lab space. Just like in the lab, importing too many libraries can sometimes complicate and slow down your programs - so we only import what we need for each program.

Python has a huge number of built-in packages, its standard library. 
Some methods are always available; others we must import.

In [49]:
rand = random.randint(1,10)

In [50]:
import random

In [51]:
rand = random.randint(1,10)
print(rand)

1

### Loading tabular data (such as a CSV) into Pandas
- Use the Pandas library to do statistics on tabular data.
- Pandas is a widely-used Python library for statistics, particularly on tabular data.
- Borrows many features from Râ€™s dataframes.
 - A 2-dimensional table whose columns have names and potentially have different data types.
- Load it with `import pandas as pd`. The alias `pd` is commonly used for Pandas.

In [52]:
import pandas as pd

Read a Comma Separate Values (CSV) data file with `pd.read_csv`.
- Argument is the name of the file to be read.
- Assign result to a variable to store the data that was read.

In [53]:
df = pd.read_csv("bechdel_data.csv")

In [54]:
#this is not helpful
print(df)

      year                                 imdb  \
0     2013  http://www.imdb.com/title/tt1711425
1     2012  http://www.imdb.com/title/tt1343727
2     2013  http://www.imdb.com/title/tt2024544
3     2013  http://www.imdb.com/title/tt1272878
4     2013  http://www.imdb.com/title/tt0453562
5     2013  http://www.imdb.com/title/tt1335975
6     2013  http://www.imdb.com/title/tt1606378
7     2013  http://www.imdb.com/title/tt2194499
8     2013  http://www.imdb.com/title/tt1814621
9     2013  http://www.imdb.com/title/tt1815862
10    2013  http://www.imdb.com/title/tt1800241
11    2013  http://www.imdb.com/title/tt1322269
12    2013  http://www.imdb.com/title/tt1559547
13    2013  http://www.imdb.com/title/tt2334873
14    2013  http://www.imdb.com/title/tt1535109
15    2013  http://www.imdb.com/title/tt1939659
16    2013  http://www.imdb.com/title/tt1985966
17    2013  http://www.imdb.com/title/tt1690953
18    2013  http://www.imdb.com/title/tt2229499
19    2013  http://www.imdb.com/title/tt1535108
20    2013  http://www.imdb.com/title/tt1731141
21    2013  http://www.imdb.com/title/tt0848537
22    2013  http://www.imdb.com/title/tt0765446
23    2013  http://www.imdb.com/title/tt1211956
24    2013  http://www.imdb.com/title/tt1288558
25    2013  http://www.imdb.com/title/tt1905041
26    2013  http://www.imdb.com/title/tt2294629
27    2013  http://www.imdb.com/title/tt1583421
28    2013  http://www.imdb.com/title/tt1321870
29    2013  http://www.imdb.com/title/tt2425486
...    ...                                  ...
1764  1976  http://www.imdb.com/title/tt0075148
1765  1976  http://www.imdb.com/title/tt0075222
1766  1976  http://www.imdb.com/title/tt0075249
1767  1976  http://www.imdb.com/title/tt0075314
1768  1975  http://www.imdb.com/title/tt0072684
1769  1975  http://www.imdb.com/title/tt0073195
1770  1975  http://www.imdb.com/title/tt0071853
1771  1975  http://www.imdb.com/title/tt0073486
1772  1975  http://www.imdb.com/title/tt0073629
1773  1974  http://www.imdb.com/title/tt0071222
1774  1974  http://www.imdb.com/title/tt0071230
1775  1974  http://www.imdb.com/title/tt0071360
1776  1974  http://www.imdb.com/title/tt0071562
1777  1974  http://www.imdb.com/title/tt0072271
1778  1974  http://www.imdb.com/title/tt0072308
1779  1974  http://www.imdb.com/title/tt0072431
1780  1973  http://www.imdb.com/title/tt0069704
1781  1973  http://www.imdb.com/title/tt0068699
1782  1973  http://www.imdb.com/title/tt0070707
1783  1973  http://www.imdb.com/title/tt0070047
1784  1973  http://www.imdb.com/title/tt0070735
1785  1972  http://www.imdb.com/title/tt0068156
1786  1972  http://www.imdb.com/title/tt0069089
1787  1972  http://www.imdb.com/title/tt0068646
1788  1971  http://www.imdb.com/title/tt0067065
1789  1971  http://www.imdb.com/title/tt0067741
1790  1971  http://www.imdb.com/title/tt0067800
1791  1971  http://www.imdb.com/title/tt0067116
1792  1971  http://www.imdb.com/title/tt0067992
1793  1970  http://www.imdb.com/title/tt0065466

                                    title              test clean_test binary  \
0                               21 & Over            notalk     notalk   FAIL
1                                Dredd 3D       ok-disagree         ok   PASS
2                        12 Years a Slave   notalk-disagree     notalk   FAIL
3                                  2 Guns            notalk     notalk   FAIL
4                                      42               men        men   FAIL
5                                47 Ronin               men        men   FAIL
6                  A Good Day to Die Hard            notalk     notalk   FAIL
7                              About Time       ok-disagree         ok   PASS
8                               Admission                ok         ok   PASS
9                             After Earth            notalk     notalk   FAIL
10                        American Hustle       ok-disagree         ok   PASS
11                   August: Osage County                ok         ok   PASS
12                    Beautiful Creatures                ok         ok   PASS
13                           Blue Jasmine       ok-disagree         ok   PASS
14                       Captain Phillips            notalk     notalk   FAIL
15                                 Carrie                ok         ok   PASS
16    Cloudy with a Chance of Meatballs 2  nowomen-disagree    nowomen   FAIL
17                        Despicable Me 2                ok         ok   PASS
18                                Don Jon  dubious-disagree    dubious   FAIL
19                                Elysium       ok-disagree         ok   PASS
20                           Ender's Game               men        men   FAIL
21                                   Epic       ok-disagree         ok   PASS
22               Escape from Planet Earth                ok         ok   PASS
23                            Escape Plan               men        men   FAIL
24                              Evil Dead       ok-disagree         ok   PASS
25                     Fast and Furious 6       ok-disagree         ok   PASS
26                                 Frozen                ok         ok   PASS
27                  G.I. Joe: Retaliation       ok-disagree         ok   PASS
28                         Gangster Squad            notalk     notalk   FAIL
29                                 Gloria                ok         ok   PASS
...                                   ...               ...        ...    ...
1764                                Rocky            notalk     notalk   FAIL
1765                         Silent Movie            notalk     notalk   FAIL
1766                              Sparkle                ok         ok   PASS
1767                          Taxi Driver            notalk     notalk   FAIL
1768                         Barry Lyndon            notalk     notalk   FAIL
1769                                 Jaws            notalk     notalk   FAIL
1770      Monty Python and the Holy Grail               men        men   FAIL
1771      One Flew Over the Cuckoo's Nest               men        men   FAIL
1772        The Rocky Horror Picture Show  dubious-disagree    dubious   FAIL
1773                      Black Christmas                ok         ok   PASS
1774                      Blazing Saddles            notalk     notalk   FAIL
1775                     The Conversation            notalk     notalk   FAIL
1776               The Godfather: Part II                ok         ok   PASS
1777         The Texas Chain Saw Massacre            notalk     notalk   FAIL
1778                 The Towering Inferno            notalk     notalk   FAIL
1779                   Young Frankenstein               men        men   FAIL
1780                    American Graffiti               men        men   FAIL
1781                  High Plains Drifter            notalk     notalk   FAIL
1782                              Sleeper            notalk     notalk   FAIL
1783                         The Exorcist                ok         ok   PASS
1784                            The Sting            notalk     notalk   FAIL
1785                                 1776            notalk     notalk   FAIL
1786                       Pink Flamingos                ok         ok   PASS
1787                        The Godfather   notalk-disagree     notalk   FAIL
1788   Escape from the Planet of the Apes            notalk     notalk   FAIL
1789                                Shaft            notalk     notalk   FAIL
1790                           Straw Dogs            notalk     notalk   FAIL
1791                The French Connection            notalk     notalk   FAIL
1792  Willy Wonka & the Chocolate Factory      men-disagree        men   FAIL
1793       Beyond the Valley of the Dolls                ok         ok   PASS

         budget     domgross      intgross      code  budget_2013  \
0      13000000   25682380.0  4.219577e+07  2013FAIL     13000000
1      45000000   13414714.0  4.086899e+07  2012PASS     45658735
2      20000000   53107035.0  1.586070e+08  2013FAIL     20000000
3      61000000   75612460.0  1.324930e+08  2013FAIL     61000000
4      40000000   95020213.0  9.502021e+07  2013FAIL     40000000
5     225000000   38362475.0  1.458038e+08  2013FAIL    225000000
6      92000000   67349198.0  3.042492e+08  2013FAIL     92000000
7      12000000   15323921.0  8.732475e+07  2013PASS     12000000
8      13000000   18007317.0  1.800732e+07  2013PASS     13000000
9     130000000   60522097.0  2.443732e+08  2013FAIL    130000000
10     40000000  148430908.0  2.494849e+08  2013PASS     40000000
11     25000000   37304874.0  5.030487e+07  2013PASS     25000000
12     50000000   19452138.0  5.594067e+07  2013PASS     50000000
13     18000000   33345833.0  6.844783e+07  2013PASS     18000000
14     55000000  107136417.0  2.187436e+08  2013FAIL     55000000
15     30000000   35266619.0  8.500166e+07  2013PASS     30000000
16     78000000  119640264.0  2.717254e+08  2013FAIL     78000000
17     76000000  368065385.0  9.707660e+08  2013PASS     76000000
18      5500000   24477704.0  2.637770e+07  2013FAIL      5500000
19    120000000   93050117.0  2.861921e+08  2013PASS    120000000
20    110000000   61737191.0  8.973719e+07  2013FAIL    110000000
21    100000000  107518682.0  2.684187e+08  2013PASS    100000000
22     40000000   57012977.0  6.645481e+07  2013PASS     40000000
23     70000000   25213103.0  1.038131e+08  2013FAIL     70000000
24     17000000   54239856.0  9.740205e+07  2013PASS     17000000
25    160000000  238679850.0  7.881281e+08  2013PASS    160000000
26    150000000  393050114.0  1.004550e+09  2013PASS    150000000
27    140000000  122523060.0  3.719231e+08  2013PASS    140000000
28     60000000   46000903.0  1.041009e+08  2013FAIL     60000000
29     30000000    4167493.0  4.967493e+06  2013PASS     30000000
...         ...          ...           ...       ...          ...
1764    1000000  117235147.0  2.250000e+08  1976FAIL      4091827
1765    4400000   36145695.0  3.614570e+07  1976FAIL     18004040
1766   10000000   24397469.0  2.466032e+07  1976PASS     40918272
1767    1000000   28262574.0  2.826257e+07  1976FAIL      4091827
1768   11000000   20000000.0  2.000000e+07  1975FAIL     47609104
1769   12000000  260000000.0  4.707000e+08  1975FAIL     51937204
1770     400000    3427696.0  5.028948e+06  1975FAIL      1731240
1771    4400000  108981275.0  1.089813e+08  1975FAIL     19043641
1772    1200000  139876417.0  1.398764e+08  1975FAIL      5193720
1773    9000000   16235738.0  1.623574e+07  1974PASS     42513535
1774    2600000  119500000.0  1.195000e+08  1974FAIL     12281688
1775    1600000    4420000.0  4.420000e+06  1974FAIL      7557962
1776   13000000   57300000.0  5.730000e+07  1974PASS     61408439
1777     140000   26572439.0  2.657244e+07  1974FAIL       661322
1778     140000   26572439.0  2.657244e+07  1974FAIL       661322
1779    2800000   86300000.0  8.630000e+07  1974FAIL     13226433
1780     777000  115000000.0  1.400000e+08  1973FAIL      4074506
1781   15700000   15700000.0  1.570000e+07  1973FAIL     82329139
1782    2000000   18344729.0  1.834473e+07  1973FAIL     10487788
1783   12000000  204868002.0  4.027351e+08  1973PASS     62926730
1784    5500000  159616327.0  1.596163e+08  1973FAIL     28841418
1785    4000000          NaN           NaN  1972FAIL     22288557
1786      12000     413802.0  4.138020e+05  1972PASS        66866
1787    7000000  134966411.0  2.685000e+08  1972FAIL     39004975
1788    2500000   12300000.0  1.230000e+07  1971FAIL     14386286
1789   53012938   70327868.0  1.071901e+08  1971FAIL    305063707
1790   25000000   10324441.0  1.125382e+07  1971FAIL    143862856
1791    2200000   41158757.0  4.115876e+07  1971FAIL     12659931
1792    3000000    4000000.0  4.000000e+06  1971FAIL     17263543
1793    1000000    9000000.0  9.000000e+06  1970PASS      5997631

      domgross_2013  intgross_2013
0      2.568238e+07   4.219577e+07
1      1.361109e+07   4.146726e+07
2      5.310704e+07   1.586070e+08
3      7.561246e+07   1.324930e+08
4      9.502021e+07   9.502021e+07
5      3.836248e+07   1.458038e+08
6      6.734920e+07   3.042492e+08
7      1.532392e+07   8.732475e+07
8      1.800732e+07   1.800732e+07
9      6.052210e+07   2.443732e+08
10     1.484309e+08   2.494849e+08
11     3.730487e+07   5.030487e+07
12     1.945214e+07   5.594067e+07
13     3.334583e+07   6.844783e+07
14     1.071364e+08   2.187436e+08
15     3.526662e+07   8.500166e+07
16     1.196403e+08   2.717254e+08
17     3.680654e+08   9.707660e+08
18     2.447770e+07   2.637770e+07
19     9.305012e+07   2.861921e+08
20     6.173719e+07   8.973719e+07
21     1.075187e+08   2.684187e+08
22     5.701298e+07   6.645481e+07
23     2.521310e+07   1.038131e+08
24     5.423986e+07   9.740205e+07
25     2.386798e+08   7.881281e+08
26     3.930501e+08   1.004550e+09
27     1.225231e+08   3.719231e+08
28     4.600090e+07   1.041009e+08
29     4.167493e+06   4.967493e+06
...             ...            ...
1764   4.797060e+08   9.206611e+08
1765   1.479019e+08   1.479019e+08
1766   9.983023e+07   1.009058e+08
1767   1.156456e+08   1.156456e+08
1768   8.656201e+07   8.656201e+07
1769   1.125306e+09   2.037237e+09
1770   1.483541e+07   2.176579e+07
1771   4.716819e+08   4.716819e+08
1772   6.053992e+08   6.053992e+08
1773   7.669318e+07   7.669318e+07
1774   5.644853e+08   5.644853e+08
1775   2.087887e+07   2.087887e+07
1776   2.706695e+08   2.706695e+08
1777   1.255209e+08   1.255209e+08
1778   1.255209e+08   1.255209e+08
1779   4.076576e+08   4.076576e+08
1780   6.030478e+08   7.341452e+08
1781   8.232914e+07   8.232914e+07
1782   9.619782e+07   9.619782e+07
1783   1.074306e+09   2.111900e+09
1784   8.370111e+08   8.370111e+08
1785            NaN            NaN
1786   2.305762e+06   2.305762e+06
1787   7.520516e+08   1.496119e+09
1788   7.078052e+07   7.078052e+07
1789   4.047027e+08   6.168270e+08
1790   5.941214e+07   6.476027e+07
1791   2.368487e+08   2.368487e+08
1792   2.301806e+07   2.301806e+07
1793   5.397868e+07   5.397868e+07

[1794 rows x 13 columns]

### Examining your data
After reading in the data, do a quick check to see what it looks like. Start by looking at the first 5 lines of the data frame.

In [55]:
df.head(5)

,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013,domgross_2013,intgross_2013
0,2013,http://www.imdb.com/title/tt1711425,21 & Over,notalk,notalk,FAIL,13000000,25682380.0,42195766.0,2013FAIL,13000000,25682380.0,42195766.0
1,2012,http://www.imdb.com/title/tt1343727,Dredd 3D,ok-disagree,ok,PASS,45000000,13414714.0,40868994.0,2012PASS,45658735,13611086.0,41467257.0
2,2013,http://www.imdb.com/title/tt2024544,12 Years a Slave,notalk-disagree,notalk,FAIL,20000000,53107035.0,158607035.0,2013FAIL,20000000,53107035.0,158607035.0
3,2013,http://www.imdb.com/title/tt1272878,2 Guns,notalk,notalk,FAIL,61000000,75612460.0,132493015.0,2013FAIL,61000000,75612460.0,132493015.0
4,2013,http://www.imdb.com/title/tt0453562,42,men,men,FAIL,40000000,95020213.0,95020213.0,2013FAIL,40000000,95020213.0,95020213.0

Now look at the last 5 lines.

In [56]:
df.tail(5)

,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013,domgross_2013,intgross_2013
1789,1971,http://www.imdb.com/title/tt0067741,Shaft,notalk,notalk,FAIL,53012938,70327868.0,107190108.0,1971FAIL,305063707,404702718.0,616827003.0
1790,1971,http://www.imdb.com/title/tt0067800,Straw Dogs,notalk,notalk,FAIL,25000000,10324441.0,11253821.0,1971FAIL,143862856,59412143.0,64760273.0
1791,1971,http://www.imdb.com/title/tt0067116,The French Connection,notalk,notalk,FAIL,2200000,41158757.0,41158757.0,1971FAIL,12659931,236848653.0,236848653.0
1792,1971,http://www.imdb.com/title/tt0067992,Willy Wonka & the Chocolate Factory,men-disagree,men,FAIL,3000000,4000000.0,4000000.0,1971FAIL,17263543,23018057.0,23018057.0
1793,1970,http://www.imdb.com/title/tt0065466,Beyond the Valley of the Dolls,ok,ok,PASS,1000000,9000000.0,9000000.0,1970PASS,5997631,53978683.0,53978683.0

You can look at specific rows of the data frame using the same syntax that we used to slice a list.

In [57]:
df[100:105]

,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013,domgross_2013,intgross_2013
100,2012,http://www.imdb.com/title/tt1611224,Abraham Lincoln: Vampire Hunter,dubious-disagree,dubious,FAIL,67500000,37519139.0,115119139.0,2012FAIL,68488103,38068365.0,116804318.0
101,2012,http://www.imdb.com/title/tt1591479,Act of Valor,nowomen,nowomen,FAIL,12000000,70012847.0,82497035.0,2012FAIL,12175663,71037735.0,83704673.0
102,2012,http://www.imdb.com/title/tt1602620,Amour,dubious-disagree,dubious,FAIL,9700000,6738954.0,25915719.0,2012FAIL,9841994,6837603.0,26295088.0
103,2012,http://www.imdb.com/title/tt1781769,Anna Karenina,men-disagree,men,FAIL,49000000,12816367.0,70735540.0,2012FAIL,49717290,13003980.0,71771007.0
104,2012,http://www.imdb.com/title/tt1024648,Argo,ok-disagree,ok,PASS,44500000,136025503.0,221300694.0,2012PASS,45151416,138016721.0,224540219.0

Finally, look at the metadata of the data frame.

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1794 entries, 0 to 1793
Data columns (total 13 columns):
year             1794 non-null int64
imdb             1794 non-null object
title            1794 non-null object
test             1794 non-null object
clean_test       1794 non-null object
binary           1794 non-null object
budget           1794 non-null int64
domgross         1777 non-null float64
intgross         1783 non-null float64
code             1794 non-null object
budget_2013      1794 non-null int64
domgross_2013    1776 non-null float64
intgross_2013    1783 non-null float64
dtypes: float64(4), int64(3), object(6)
memory usage: 182.3+ KB

In [59]:
df.columns

Index(['year', 'imdb', 'title', 'test', 'clean_test', 'binary', 'budget',
       'domgross', 'intgross', 'code', 'budget_2013', 'domgross_2013',
       'intgross_2013'],
      dtype='object')

Now let's see what types of data we have in our dataset. What type of data is in the 'year' column in the dataset?

In [60]:
type(df['year'])

pandas.core.series.Series

There are some nice built-in functions for giving summary statistics of dataframes, their columns and rows.

Let's look at the year column:

In [61]:
df['year'].describe()

count    1794.000000
mean     2002.552397
std         8.979731
min      1970.000000
25%      1998.000000
50%      2005.000000
75%      2009.000000
max      2013.000000
Name: year, dtype: float64

You can also apply these statistical functions directly to the data in a column:

In [62]:
df['year'].max()

2013

Let's look at the 'binary' column.

In [63]:
type(df['binary'])

pandas.core.series.Series

Since this is a series (which operates a little bit like a list) we can use an index value to look at the first value (remember the index starts at zero). 

The most basic way to select subsets of the data is done using the `[ ]` operator. For a DataFrame, this works as the Series corresponding to the column label.

In [64]:
type(df['binary'][0])

str

In [65]:
df['binary'][0]

'FAIL'

In [66]:
df['binary'][0:10]

0    FAIL
1    PASS
2    FAIL
3    FAIL
4    FAIL
5    FAIL
6    FAIL
7    PASS
8    PASS
9    FAIL
Name: binary, dtype: object

You can also look at all of the unique values in a particular column using the .unique() function.

In [67]:
df['binary'].unique()

array(['FAIL', 'PASS'], dtype=object)

### Pandas Index
An index is an immutable ndarray that implements an ordered, sliceable set. 
Indices are requires for pandas objects, but are automatically created as a RangeIndex if not otherwise given or set.

In [68]:
df.index

RangeIndex(start=0, stop=1794, step=1)

We can set a new index using an existing column in the df. 
`.set_index()` can take a couple of arguments: 
1. the name of the column to use
2. whether to use the existing column as the index, where `inplace=True`.

In [69]:
df.set_index('title', inplace=True)

In [70]:
df.index

Index(['21 & Over', 'Dredd 3D', '12 Years a Slave', '2 Guns', '42', '47 Ronin',
       'A Good Day to Die Hard', 'About Time', 'Admission', 'After Earth',
       ...
       'The Sting', '1776', 'Pink Flamingos', 'The Godfather',
       'Escape from the Planet of the Apes', 'Shaft', 'Straw Dogs',
       'The French Connection', 'Willy Wonka & the Chocolate Factory',
       'Beyond the Valley of the Dolls'],
      dtype='object', name='title', length=1794)

We can also sort a dataframe by its index.

In [71]:
df.sort_index(inplace=True)
df.tail(5)

,year,imdb,test,clean_test,binary,budget,domgross,intgross,code,budget_2013,domgross_2013,intgross_2013
title,,,,,,,,,,,,
Zoolander,2001,http://www.imdb.com/title/tt0196229,ok-disagree,ok,PASS,28000000,45172250.0,60780981.0,2001PASS,36843687,59439723.0,79978408.0
Zoom,2006,http://www.imdb.com/title/tt0383060,ok,ok,PASS,35000000,11989328.0,12506188.0,2006PASS,40452872,13857222.0,14454606.0
Zwartboek,2006,http://www.imdb.com/title/tt0389557,ok,ok,PASS,22000000,4398532.0,27238354.0,2006PASS,25427520,5083807.0,31481990.0
[Rec],2007,http://www.imdb.com/title/tt1038988,ok,ok,PASS,2100000,NaN,27117954.0,2007PASS,2359441,NaN,30468201.0
xXx,2002,http://www.imdb.com/title/tt0295701,notalk,notalk,FAIL,70000000,141930000.0,267200000.0,2002FAIL,90662545,183824786.0,346071886.0

Depending on what you want to accomplish, titles might not make for a very convenient index, so let's reset it.

In [72]:
df.reset_index(inplace=True)
df.index

RangeIndex(start=0, stop=1794, step=1)

You can also create more than one index, using a Multi-Index. Let's use both the year and binary columns as indexes.

In [73]:
df.set_index(['year','binary'], inplace = True)
df.head(5)

,,title,imdb,test,clean_test,budget,domgross,intgross,code,budget_2013,domgross_2013,intgross_2013
year,binary,,,,,,,,,,,
2009,FAIL,(500) Days of Summer,http://www.imdb.com/title/tt1022603,notalk-disagree,notalk,7500000,32391374.0,60803210.0,2009FAIL,8142987,35168338.0,66015966.0
1999,PASS,10 Things I Hate About You,http://www.imdb.com/title/tt0147800,ok,ok,13000000,38177966.0,60414025.0,1999PASS,18180006,53390436.0,84486720.0
2013,FAIL,12 Years a Slave,http://www.imdb.com/title/tt2024544,notalk-disagree,notalk,20000000,53107035.0,158607035.0,2013FAIL,20000000,53107035.0,158607035.0
2010,FAIL,127 Hours,http://www.imdb.com/title/tt1542344,dubious-disagree,dubious,18000000,18335230.0,60735230.0,2010FAIL,19228173,19586277.0,64879307.0
2004,PASS,13 Going on 30,http://www.imdb.com/title/tt0337563,ok,ok,30000000,57139723.0,96439723.0,2004PASS,36995786,70464299.0,118928779.0

### The .loc indexer

The .loc indexer allows multidimensional selection based on the label of the index. This can be more powerful than using a rangeindex since we can look at specific combinations of factors.

Here we use .loc() to show the title column for all rows that have 2013 and PASS in the year and binary indexes.

In [74]:
df.loc[2013,'PASS']['title']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

year  binary
2013  PASS                                 About Time
      PASS                                  Admission
      PASS                            American Hustle
      PASS                       August: Osage County
      PASS                        Beautiful Creatures
      PASS                               Blue Jasmine
      PASS                                     Carrie
      PASS                            Despicable Me 2
      PASS                                    Elysium
      PASS                                       Epic
      PASS                   Escape from Planet Earth
      PASS                                  Evil Dead
      PASS                         Fast and Furious 6
      PASS                                     Frozen
      PASS                      G.I. Joe: Retaliation
      PASS                                     Gloria
      PASS             Hansel & Gretel: Witch Hunters
      PASS                                 Kick-Ass 2
      PASS                    Lee Daniels' The Butler
      PASS                              Machete Kills
      PASS                                       Mama
      PASS                               Man of Steel
      PASS                                   Nebraska
      PASS                  Oz the Great and Powerful
      PASS                                     Parker
      PASS             Percy Jackson: Sea of Monsters
      PASS                                  Prisoners
      PASS                                      Red 2
      PASS                                 Safe Haven
      PASS                           Saving Mr. Banks
      PASS                               Side Effects
      PASS                          Texas Chainsaw 3D
      PASS                            The Big Wedding
      PASS                             The Book Thief
      PASS                                   The Call
      PASS                              The Conjuring
      PASS                              The Counselor
      PASS                                   The Heat
      PASS            The Hunger Games: Catching Fire
      PASS                  The Last Exorcism Part II
      PASS      The Mortal Instruments: City of Bones
      PASS                               The Smurfs 2
      PASS                             The To Do List
      PASS                           The Way Way Back
      PASS                              The Wolverine
      PASS                          We're the Millers
Name: title, dtype: object

If you wanted to work with those titles later, you could save them to a list using the .to_list() function.

In [75]:
movies_2013_list = df.loc[2013,'PASS']['title'].to_list()
print(movies_2013_list[0:10])

['About Time', 'Admission', 'American Hustle', 'August: Osage County', 'Beautiful Creatures', 'Blue Jasmine', 'Carrie', 'Despicable Me 2', 'Elysium', 'Epic']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

### Editing columns

We can rename, drop, and add new columns. Use .rename() to set a new name for the imdb column to "URL" since that's a more accurate description of that content.

In [76]:
df.rename(columns = {'imdb': 'URL'}, inplace = True)
df.head(5)

,,title,URL,test,clean_test,budget,domgross,intgross,code,budget_2013,domgross_2013,intgross_2013
year,binary,,,,,,,,,,,
2009,FAIL,(500) Days of Summer,http://www.imdb.com/title/tt1022603,notalk-disagree,notalk,7500000,32391374.0,60803210.0,2009FAIL,8142987,35168338.0,66015966.0
1999,PASS,10 Things I Hate About You,http://www.imdb.com/title/tt0147800,ok,ok,13000000,38177966.0,60414025.0,1999PASS,18180006,53390436.0,84486720.0
2013,FAIL,12 Years a Slave,http://www.imdb.com/title/tt2024544,notalk-disagree,notalk,20000000,53107035.0,158607035.0,2013FAIL,20000000,53107035.0,158607035.0
2010,FAIL,127 Hours,http://www.imdb.com/title/tt1542344,dubious-disagree,dubious,18000000,18335230.0,60735230.0,2010FAIL,19228173,19586277.0,64879307.0
2004,PASS,13 Going on 30,http://www.imdb.com/title/tt0337563,ok,ok,30000000,57139723.0,96439723.0,2004PASS,36995786,70464299.0,118928779.0

We can add a new blank column by declaring it in a similar manner as we would declare a new variable.

In [77]:
df['test_col'] = '' # you could also add a string or other content here that would be assigned to every row of the df column 'test_col'

In [78]:
df.head(3)

,,title,URL,test,clean_test,budget,domgross,intgross,code,budget_2013,domgross_2013,intgross_2013,test_col
year,binary,,,,,,,,,,,,
2009,FAIL,(500) Days of Summer,http://www.imdb.com/title/tt1022603,notalk-disagree,notalk,7500000,32391374.0,60803210.0,2009FAIL,8142987,35168338.0,66015966.0,
1999,PASS,10 Things I Hate About You,http://www.imdb.com/title/tt0147800,ok,ok,13000000,38177966.0,60414025.0,1999PASS,18180006,53390436.0,84486720.0,
2013,FAIL,12 Years a Slave,http://www.imdb.com/title/tt2024544,notalk-disagree,notalk,20000000,53107035.0,158607035.0,2013FAIL,20000000,53107035.0,158607035.0,

We could also take a more sophisticated approach, and create a new column by editing the data from another column. Here we use the str.split() function to split the URL column on the fourth '/' that occurs, and send the content following that fourth forward slash to a new column that we'll call 'imdb_id.'

1. First we declare a new column. 
2. It will equal the df['URL'] column which we split using str.split(). 
3. str.split() first takes a parameter of the string that we want to split on. 
4. The second parameter, expand=True, tells the function to expand the split strings into separate columns.
5. And the [4] refers to the fourth occurrence of the '/' in the string.

In [79]:
df['imdb_id'] = df['URL'].str.split('/',expand = True)[4]
df.head(5)

,,title,URL,test,clean_test,budget,domgross,intgross,code,budget_2013,domgross_2013,intgross_2013,test_col,imdb_id
year,binary,,,,,,,,,,,,,
2009,FAIL,(500) Days of Summer,http://www.imdb.com/title/tt1022603,notalk-disagree,notalk,7500000,32391374.0,60803210.0,2009FAIL,8142987,35168338.0,66015966.0,,tt1022603
1999,PASS,10 Things I Hate About You,http://www.imdb.com/title/tt0147800,ok,ok,13000000,38177966.0,60414025.0,1999PASS,18180006,53390436.0,84486720.0,,tt0147800
2013,FAIL,12 Years a Slave,http://www.imdb.com/title/tt2024544,notalk-disagree,notalk,20000000,53107035.0,158607035.0,2013FAIL,20000000,53107035.0,158607035.0,,tt2024544
2010,FAIL,127 Hours,http://www.imdb.com/title/tt1542344,dubious-disagree,dubious,18000000,18335230.0,60735230.0,2010FAIL,19228173,19586277.0,64879307.0,,tt1542344
2004,PASS,13 Going on 30,http://www.imdb.com/title/tt0337563,ok,ok,30000000,57139723.0,96439723.0,2004PASS,36995786,70464299.0,118928779.0,,tt0337563

### Logic Looping

Let's look at two powerful tools to to build efficient code and to clean and transform your data:
* if/else statements
* for loops

#### if/else
We can use if and else statements to provide conditional responses to particular cases. 

Note that there's a difference between the = operator which assigns a value to a variable and a conditional == which checks to see if something is true or not. 

You can also use greater than and less than comparison/relational operators. Here's a [cheat sheet](https://www.dummies.com/programming/python/beginning-programming-python-dummies-cheat-sheet/) of all kinds of python operators.

In [80]:
a = 7
if a == 7:
    print('a is equal to 7')
else:
    print('a is not equal to 7')

a is equal to 7

We can build a stack of conditionals using 'elif'.

In [81]:
a = 5
if a == 7:
    print('a is equal to 7')
elif a == 5:
    print('a is equal to 5')
else:
    print('a is not equal to 7 or 5')

a is equal to 5

#### For loop syntax
A for loop always iterates through a collection of items, like a list.
```
for x in y:
    do_something # the code in the loop needs to be indented
    do_another_thing
```

In [82]:
odds = [1, 3, 7, 9]
for num in odds:
    print(num)

1
3
7
9

We can combine for loops and if/else statements to check values (and do things) while iterating through a collection. 

There are more efficient ways to do the following, but this is an easy-to-read version. We'll also stack a variety of conditionals into a single if statement using the or operator.

In [83]:
nums = [1,2,3,4,5,6,7,8,9]

for num in nums:
    if num == 1 or num == 3 or num == 5 or num == 7 or num == 9:
        print(num, "is odd")
    else:
        print(num, "is even")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

### Looping in pandas dataframes
Dataframes require specific functions to use a for loop effectively. .iterrows(), for example, iterates over each row in the dataframe, returning something called a "Series" for each row.

In [84]:
# we could save these to a list instead of printing them up
print('Wow, these were some really expensive movies:')
for index, row in df.iterrows():
    if row['budget'] > 200000000:
        print(row['title'])

Wow, these were some really expensive movies:
47 Ronin
Avatar
Battleship
Harry Potter and the Half-Blood Prince
John Carter
King Kong
Man of Steel
Men in Black III
Pirates of the Caribbean: At World's End
Pirates of the Caribbean: Dead Man's Chest
Pirates of the Caribbean: On Stranger Tides
Quantum of Solace
Robin Hood
Superman Returns
Tangled
The Amazing Spider-Man
The Chronicles of Narnia: Prince Caspian
The Dark Knight Rises
The Golden Compass
The Hobbit: An Unexpected Journey
The Hobbit: The Desolation of Smaug
The Lone Ranger
Transformers: Revenge of the Fallen
X-Men: The Last Stand

We can combine the pass/fail index â€” df['binary'] - that we created above to explore which high- and low-budget movies passed the Bechdel test.

In [85]:
print("Wow, these were some really expensive movies, but at least they passed the Bechdel test:", '\n')
for index, row in df.iterrows():
    if row['budget'] > 200000000 and 'PASS' in index: # $200 million + movies!
        print(row['title'], index)

Wow, these were some really expensive movies, but at least they passed the Bechdel test:

Harry Potter and the Half-Blood Prince (2009, 'PASS')
John Carter (2012, 'PASS')
Man of Steel (2013, 'PASS')
Pirates of the Caribbean: At World's End (2007, 'PASS')
Tangled (2010, 'PASS')
The Chronicles of Narnia: Prince Caspian (2008, 'PASS')
The Golden Compass (2007, 'PASS')
Transformers: Revenge of the Fallen (2009, 'PASS')
X-Men: The Last Stand (2006, 'PASS')

In [86]:
# low budget movies
for index, row in df.iterrows():
    if row['budget'] < 1000000 and 'PASS' in index: # Less than a million $
        print(row['title'], index)

Another Earth (2011, 'PASS')
Chasing Amy (1997, 'PASS')
Circumstance (2011, 'PASS')
Funny Ha Ha (2002, 'PASS')
Hard Candy (2005, 'PASS')
Like Crazy (2011, 'PASS')
London To Brighton (2006, 'PASS')
Love and Other Catastrophes (1996, 'PASS')
Lovely and Amazing (2001, 'PASS')
Pieces of April (1993, 'PASS')
Pink Flamingos (1972, 'PASS')
Quinceanera (2006, 'PASS')
Safety Not Guaranteed (2012, 'PASS')
Sisters in Law (2005, 'PASS')
Slacker (1991, 'PASS')
The Blair Witch Project (1999, 'PASS')
The Incredibly True Adventures of Two Girls in Love (1995, 'PASS')
Tiny Furniture (2010, 'PASS')
Undead (2003, 'PASS')
Welcome to the Dollhouse (1995, 'PASS')
Wendy and Lucy (2008, 'PASS')
When the Cat's Away (1996, 'PASS')
Yesterday Was a Lie (2009, 'PASS')
Your Sister's Sister (2011, 'PASS')

We could put this all together and create a new column to track different levels of movie budgets, and then compare how many films in each category pass the Bechdel test.

In [87]:
for index, row in df.iterrows():
    if row['budget'] < 1000000: #100k
        df.loc[index,'budget_class'] = "cheap"
    elif row['budget'] > 1000000 and row['budget'] < 50000000:
        df.loc[index,'budget_class'] = "medium"
    elif row['budget'] > 50000000:
        df.loc[index,'budget_class'] = "expensive"

/anaconda3/lib/python3.7/site-packages/ipykernel/ipkernel.py:208: PerformanceWarning: indexing past lexsort depth may impact performance.
  res = shell.run_cell(code, store_history=store_history, silent=silent)
/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2662: PerformanceWarning: indexing past lexsort depth may impact performance.
  raw_cell, store_history, silent, shell_futures)

In [88]:
df.reset_index(inplace=True)

In [89]:
df.set_index(['budget_class', 'binary'], inplace = True)

In [90]:
print('Cheap movies:')
print(df.loc['cheap','PASS']['title'].count(), 'pass : ', df.loc['cheap','FAIL']['title'].count(), 'fail \n')

print('Mid-level movies:')
print(df.loc['medium','PASS']['title'].count(), 'pass : ', df.loc['medium','FAIL']['title'].count(), 'fail \n')

print('Expensive movies:')
print(df.loc['expensive','PASS']['title'].count(), 'pass : ', df.loc['expensive','FAIL']['title'].count(), 'fail \n')

Cheap movies:
93 pass :  6 fail

Mid-level movies:
586 pass :  511 fail

Expensive movies:
123 pass :  474 fail

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: PerformanceWarning: indexing past lexsort depth may impact performance.
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.

### Functions
We could make the above much more efficient, and also more extensible by using a function.

- All functions have a return value.
- If there is no return inside the code, the return value is None.
- Functions can be used like any other data type

You can define a new function using 'def'.

This function, which we'll call 'power' accepts two parameters: x and y. Since y has a default value of 2, if the user doesn't enter a number this will raise x to the value of two.

The first line of the function is a way to describe what the function does in a string comment (using three quotes allows the comment to wrap across multiple lines).

The second line assigns a new variable, retval, using the x and y values entered when one calls the function.

The third line returns the retval value.

In [91]:
def power(x, y=2):
    '''Raises the value of x to the y-th power'''
    retval = x ** y
    return retval

4

We can now call the function in the same way we would call any pre-defined Python functions.

In [92]:
power(2)

4

In [93]:
power(2, 3)

8

In [95]:
power(4,10)

1048576

Another way to calculate budget categories would be to write a function and then use df.apply() to call the function. Here's our own budget_check() function.

In [96]:
def budget_check(row):
    if row['budget'] < 1000000:
        return 'cheap'
    elif row['budget'] > 1000000 and row['budget'] < 50000000:
        return 'medium'
    else: 
        return 'expensive'

There's no output to the function itself, because we still need to run it by passing it as a parameter to df.apply().

In [97]:
df['budget_check'] = df.apply(budget_check, axis = 1)

Now we can just count the occurrence of each possible column value.

In [98]:
df['budget_check'].value_counts()

medium       1134
expensive     609
cheap          51
Name: budget_check, dtype: int64

You can continue to look at various configurations of the Bechdel data, by assigning the 'budget_check' column as an index and writing new functions or other code to output your results!